{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 text-decoration: none;
 list-style-type: none;
}

@media only screen and (max-width: 959px) {
  html{
   font-size: 16px;
  }
}

@media only screen and (min-width: 960px) {
  html{
   font-size: 20px;
  }
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
font-family:Arial, Helvetica , sans-serif;
background-color: Lavender;

}

/* Style the navigation menu */
.topnav {
 /* overflow: hidden; */
 background-color:LightSlateGrey;
 position: relative;
 box-shadow: 0.5px 0.5px 10px gray;
}
@media only screen and (min-width: 960px) {
 .topnav{
   display:flex;
   align-items: center;
   justify-content: space-between;
 }
}
/* Hide the links inside the navigation menu (except for logo/home) */

@media only screen and (min-width: 960px) {
 .topnav #myLinks {
   display: flex;
 }
}

@media only screen and (max-width: 959px) {
 .topnav #myLinks {
   display: none;
 }
}

/* Style navigation menu links */
.topnav a {
 color:Lavender;
 padding: 15px 20px;
 text-decoration: none;
 font-size: 1.25rem;
 display: block;
  font-weight: bold;
}

/* Style the hamburger menu */

@media only screen and (max-width: 959px) {
 .topnav a.icon {
   background: DimGrey;
   display: block;
   position: absolute;
   right: 0;
   top: 0;
 }
}

@media only screen and (min-width: 960px) {
 .topnav a.icon {
   display: none;
 }
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
 background-color: Lavender;
 color: DimGrey;
   transition: 0.5s;
}

@media only screen and (max-width: 959px) {
  .topnav #myLinks a:hover {
    border-bottom:3px solid DimGrey;
  }
}

/* Style the active link (or home/logo) */
.logo {
 background-color: IndianRed;
 color: Lavender;
}
/*----------------------------------------------------------------------------*/

.container {
  max-width: 1088px;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------*/

header#home {
  height: 100vh;
  /* background-image: url(../images/Image.jpg); */
  background-image: url(https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0.5px 0.5px 10px gray;
}


.transparency {
  background-color: #00000066;
  /*background-image: linear-gradient(to bottom , rgba(50, 82, 3, 0.25), rgba(202, 212, 241, 0.75));*/
  height: 100vh;
  width: 100%;
}
/**/
/*-------------------------content----------------------------------------------------*/
section#home-content{
  border:3px solid orangered;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-size: 1.25rem;
}
h4{
  color:LightSlateGrey;
}
h3{
  color:DimGrey;
}
/*--------------------------content---------------------------------------------------*/
/*footer*/

.hidden{
  display:none;
}
footer h3{
  color:lavender;
  text-align: center;
}
footer a{
text-decoration: none;
}
footer a h3:hover{
  color:IndianRed;
}

footer {
  background-color:LightSlateGrey;
    padding: 15px 0;
}

footer #icons {
  margin-top: 1em;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer .footerIcons a {
  color:lavender;
  font-size: 3rem;
}

footer .footerIcons a:hover {
  color: DimGrey;
  font-weight: bold;
}

footer .footerIcons a:active {
  color: IndianRed;
  font-weight: bold;
}

#divSources h5 {
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

#divSources h5 a {
  color:lavender;
}

#divSources h5 a:hover {
  color: DimGrey;
  transition: 0.5s;
  font-weight: bold;
}

#divSources h5 a:active {
  color: IndianRed;
}

/* media screen for footer  */
@media screen and (max-width: 959px) {
  #divSources h5 {
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    margin: 0.5em 0;
  }

  footer #icons {
    font-size: 1rem;
    display: block;
    text-align: center;
  }

  footer #icons div {
    padding: 0.7em 0;
  }
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
}
small{
  color:lavender;
}
/**/
